.wrapper__column-two {
  @include media('>tablet') {
    column-count: 2;
    column-gap: 25px;
  }
}
.wrapper__column-three{
  @include media('>desktop') {
    display: flex;
    justify-content: space-between;
    p {
      flex: 1;
    }
    P:nth-child(2) {
      margin: 0 31px;
    }
  }
}