.contact-info-section {
  padding: 72px 0 75px;
  [class*=__caption] {
    max-width: 810px;
  }
  address{
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    color: map-get($base, 'base-text-light-color');
  }
}
.contact__map-wrapper{
  display: block;
  img{
    vertical-align: middle;
  }
}
.contact-info__address{
  text-align: center;
  & > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.contact__map-link{
  font-size: 18px;
  display: block;
  margin: 26px 0 22px;
  &:after{
    content: "";
    display: block;
    width: 14px;
    border-bottom: 2px solid map-get($base, 'base-link-color');
    margin: 0 auto;
    padding-top: 10px;
  }
}
.contact-info__contact{
  @extend %listreset;
  margin-top: auto;
}
.contact-info__tel{
  color: #002e5f;
}
@include media('>=1050px') {
  .contact-info-section [class*=__caption] {
    margin-bottom: 61px;
  }
  .contact-info__address {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 854px;
    margin: 0 auto;
  }
}
@include media('<1050px') {
  .contact-info__address > div + div{
    margin-top: 75px;
  }
}
@include media('>desktop') {
  .contact-info-section {
    [class*=__caption]{
      margin-bottom: 57px;
    }
  }
  .contact-info__address{
    line-height: 20px;
  }
}
@include media('<=desktop') {
  .contact-info-section [class*=__caption] {
    margin-bottom: 33px;
  }
  .contact-info__address{
    line-height: 28px;
  }
  .contact-info-section {
    address {
      margin-bottom: 30px;
    }
  }
  .contact__map-link {
    font-size: 28px;
    margin: 28px 0 24px;
  }
  .contact__map-link:after {
    width: 20px;
    padding-top: 12px;
  }
}
@include media('<=phone') {
  .contact-info__contact{
    li{
      margin-bottom: 15px;
    }
    a{
      display: block;
    }
  }
}
