.entry-section{
  color: #fff;
  max-height: 100vh;
}
.entry__title{
  z-index: 2;
  position: absolute;
  @extend %element-center;
  @include media('<=desktop') {
    padding: 15px;
    width: 100%;
  }
  @include media('<=desktop', 'portrait', '>phone') {
    margin-top: 40px;
  }
  @include media('<=phone') {
    margin-top: 20px;
  }
  @include media('>desktop') {
    max-width: 500px;
  }
  &:after{
    background: #fff;
  }
}
.entry__img{
  @include media('<=desktop') {
    @include size(100vw, 100vh);
    object-fit: cover;
  }
}
.entry__video-wrapper {
  @include media('<=desktop') {
    display: none;
  }
  @include media('>desktop') {
    position: relative;
    @include size(100%, 100vh);
    padding: 60px 0;
    box-sizing: initial;
    margin: -60px 0;
  }
}
.entry__iframe{
  @include media('>desktop') {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
  }
}
.entry__video-control{
  position: absolute;
  bottom: 107px;
  right: 41px;
}
.video-button{
  color: #fff;
  border: none;
  padding: 0;
  font-size: 18px;
  display: none;
  &:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
  }
}
.pause-button:after{
  @include size(6px, 20px);
  border-left: 6px solid #fff;
  border-right: 6px solid #fff;
  margin-left: 10px;
}
.play-button:after{
  border: 10px solid transparent;
  border-left: 21px solid #fff;
  margin: 0 -10px 0 10px;
}
.btn-scroll {
  position: absolute;
  @extend %element-center-h;
  color: #fff;
  @include size(50px);
  bottom: 11%;
  @include media('<desktop') {
    bottom: 9.5%;
    @include size(36px);
  }
  border: 1px solid #fff;
  font-size: 25px;
  &:hover{
    color: #fff;
  }
  span{
    position: absolute;
    display: block;
    top: calc(50% - 18px);
    left: calc(50% - 15px);
    animation: bounce 2s infinite 2s;
    pointer-events: none;
    font-size: 30px;
    &:before{
      content: '\f100';
      font-family: 'Flaticon';
      font-style: normal;
      transform: rotateZ(90deg);
      display: block;
    }
    @include media('<desktop') {
      top: calc(50% - 12px);
      left: calc(50% - 9px);
      font-size: 18px;
    }
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}