.questions-section {
  padding: 71px 0 100px;
  @include media('<=phone') {
    display: none;
  }
}
.questions__caption{
  margin-bottom: 20px;
}
.questions__form{
  max-width: 735px;
  margin: 0 auto;
}
.questions__input{
  width: 353px;
  display: inherit;
  @include media('<=tablet') {
    width: 100%;
  }
  & ~ &{
    margin-top: 20px;
  }
}
.questions__textarea{
  min-height: 190px;
  width: 353px;
  @include media('<=tablet') {
    width: 100%;
    margin-top: 20px;
  }
}
.questions__notation{
  width: 100%;
  letter-spacing: 0.5px;
  margin: 0 0 11px 7px;
  display: block;
}