.registration-section {
  @include media('<=phone') {
    padding: 37px 0 40px;
  }
  @include media('>phone') {
    padding: 78px 0 80px;
  }
}
.registration__form{
  @extend %flex-container;
  flex-wrap: wrap;
  max-width: 735px;
  margin: 0 auto;
}
.registration__caption{
  margin-bottom: 40px;
  @include media('<=phone') {
    margin-bottom: 18px;
  }
  @include media('>phone') {
    margin-bottom: 40px;
  }
}
.registration__input{
  @include media('<=tablet') {
    width: 100%;
    &:first-child{
      margin-bottom: 21px;
    }
  }
  @include media('>tablet') {
    width: 50%;
    max-width: 353px;
  }
}