.services-section {
  @include media('<=phone') {
    padding: 30px 0 16px;
  }
  @include media('>phone') {
    padding: 68px 0 72px;
  }
  .container {
    max-width: 898px;
  }
}
$items-color: (
        1: #769eca,
        2: #1a3255,
        3: #6c6b86,
        4: #869bac,
        5: #92a4bc,
        6: #55575a,
        7: #c0b5cf,
        8: #cfb5c1
);
.services__item{
  display: flex;
  align-items: center;
  @include media('<=tablet') {
    padding-bottom: 24px;
    position: relative;
    &:not(:last-child):after{
      display: block;
      bottom: 12px;
    }
  }
  @include media('>tablet') {
    flex-direction: column;
  }
  .icon-key {
    transform: rotateZ(270deg) rotateY(180deg);
  }
  &:not(:last-child):after{
    @extend %border-element;
  }
}
.services__icon-wrapper {
  @include size(110px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  @for $i from 1 to length($items-color) + 1 {
    .owl-item:nth-child(8n + #{$i + 4}) &{
      background: map-deep-get($items-color, $i);
      &:before {
        border-color: map-deep-get($items-color, $i);
      }
    }
  }
  @include media('<=tablet') {
    margin-right: 10px;
    @for $i from 1 to length($items-color) + 1 {
      .services__item:nth-child(8n + #{$i}) & {
        background: map-deep-get($items-color, $i);
        &:before {
          border-color: map-deep-get($items-color, $i);
        }
      }
    }
  }
  @include media('<=phone') {
    @include size(55px);
  }
  @include media('>tablet') {
    margin-bottom: 20px;
  }
  &:before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.3);
    box-sizing: content-box;
    border: 2px solid;
    transition: transform 0.7s;
    opacity: 0;
    border-radius: 50%;
    display: block;
    background-clip: padding-box;
  }
  .services__item:hover &:before {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
.services__icon{
  @include size(50px);
  @include media('<=phone') {
    @include size(25px);
  }
}
.services__title-wrapper{
  margin: 0;
  @include media('<=tablet') {
    text-align: left;
  }
  @include media('>desktop') {
    line-height: 22px;
  }
  span{
    @include media('>tablet') {
      display: block;
    }
  }
}

/*owl-carousel*/
.services-section .owl-carousel .owl-stage-outer {
  @include media('>widescreen') {
    overflow: visible;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      width: 50vw;
      height: 100%;
      top: 0;
    }
    &:before {
      right: 100%;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 221px, #fff);
    }
    &:after {
      left: 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 221px, #fff);
    }
  }
}
.services-section .owl-carousel .owl-item{
  @include media('>widescreen') {
    &:not(.active) .services__icon-wrapper,
    &.active ~ .owl-item:not(.active) .services__icon-wrapper {
      background: #bfbfbf;
    }
  }
}
.services-section .owl-carousel {
  @include media('<=widescreen', '>tablet') {
    .owl-nav .owl-prev {
      left: -8px;
    }
    .owl-nav .owl-next {
      right: -8px;
    }
  }
  @include media('<=tablet') {
    display: block;
  }
  @include media('>tablet') {
    margin-top: 65px;
  }
  @include media('>widescreen') {
    .owl-nav .owl-prev {
      left: -60px;
    }
    .owl-nav .owl-next {
      right: -60px;
    }
  }

}
.services-section .owl-carousel .owl-nav {
  @include media('>tablet') {
    margin: 0;
    button {
      position: absolute;
      top: 62px;
      border-radius: 0;
      outline: none;
      &[class*=owl-] {
        font-size: 0;
        &,
        &:hover {
          background: url("../images/svg/arrowleft.svg") no-repeat 32%;
          background-size: 25%;
        }
      }
      &.owl-prev {
        transform: translateY(-50%);
      }
      &.owl-next {
        transform: translateY(-50%) rotate(180deg);
      }
      span {
        @include size(50px);
        display: block;
        border-top: 1px solid map-get($base, 'base-border');
        border-left: 1px solid map-get($base, 'base-border');
        transform: rotate(-45deg);
      }
    }
  }
}
@include media('>tablet') {
  .services-section .owl-carousel {
    .owl-item:not(.active) .services__item {
      margin: 0 0 0 -165px;
    }

    .owl-item.active ~ .owl-item:not(.active) .services__item {
      margin: 0 -165px 0 0;
    }
  }
}