.tax-section {
  text-align: center;
  @include media('<=phone') {
    padding: 34px 0 39px;
  }
  @include media('>phone') {
    padding: 73px 0 80px;
  }
  .container{
    position: relative;
    z-index: 2;
  }
}
.tax__title{
  @include media('>phone') {
    margin-bottom: 27px;
  }
}
.tax__caption {
  display: block;
  @include media('<=phone') {
    margin-bottom: 18px;
  }
}
.tax__img{
  position: absolute;
  @extend %element-center;
  z-index: 1;
  opacity: 0.07;
  @include size(995px, 100%);
  object-fit: cover;
  @include media('<=desktop') {
    object-fit: cover;
  }
}