.header {
  position: fixed;
  width: 100%;
  z-index: $z-index-header;
  transition: padding-top .2s ease;
  &.fixed {
    transition: padding-top .2s ease;
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, .1);
  }
  @include media('>desktop') {
    &.fixed {
      background: #fff;
    }
  }
  @include media('>widescreen') {
    padding: 28px 30px 10px;
    &.fixed {
      padding-top: 10px;
    }
  }
}
.header__logo-wrapper{
  @include media('<=widescreen') {
    z-index: $z-index-header;
    flex: 1;
  }
  @include media('<=widescreen', 'portrait', '>phone') {
    padding: 42px 10px 34px;
  }
  @include media('<=desktop') {
    background: #043355;
  }
  @include media('>desktop') {
    .opened-nav & {
      background: #fff;
    }
  }
}
.header__logo {
  display: inline-block;
  cursor: pointer;
  @include media('<=widescreen') {
    padding: 20px 49px  14px;
    position: relative;
  }
  @include media('<=desktop') {
    width: 100%;
    text-align: center;
  }
}
.header__logo-img{
  @include size(174px, auto);
  @include media('<=phone') {
    width: 87px;
    margin: 0 auto;
  }
}
.header__logo-white{
  display: block;
  @include media('>desktop') {
    .opened-nav &, .fixed & {
      display: none;
    }
  }
}
.header__logo-color{
  display: none;
  @include media('>desktop') {
    .opened-nav &, .fixed & {
      display: block;
    }
  }
}
.header__container{
  margin: 0 auto;
  @extend %flex-container;
  @include media('<=widescreen') {
    align-items: stretch;
  }
}