.nav-box{
  margin-right: 5px;
  ul{
    @extend %listreset;
  }
  @include media('<=widescreen') {
    position: fixed;
    z-index: 99;
    @include size(100vw, 100vh);
    max-height: 0;
    overflow: hidden;
    transition: bottom .35s linear;
    background: 0 0;
    margin: 0;
    bottom: 100%;
    .opened-nav &{
      max-height: 2000px;
      bottom: 0;
    }
    nav{
      overflow: auto;
      background: #fff;
      padding-top: 100px;
      height: 100%;
    }
    .active a{
      color: #1a3255;
      font-weight: 700;
    }
  }
}
.menu__item{
  @include media('>widescreen') {
    display: inline-block;
  }
  a{
    display: block;
    position: relative;
    font-size: 18px;
    @include media('<=widescreen') {
      color: #444;
      text-transform: uppercase;
      padding: 20px;
      border-bottom: 1px solid map-get($base, 'base-border');
    }
    @include media('>widescreen') {
      padding: 10px 21px 12px 22px;
      color: #fff;
      .fixed &{
        color: #787878;
      }
      &:before{
        content: '';
        position: absolute;
        height: 1px;
        bottom: 0;
        left: 21px;
        right: 21px;
        background-color: #fff;
        transition: transform .4s cubic-bezier(.8, 0, .2, 1);
        transform: scale3d(0, 1, 1);
        transform-origin: 50%;
      }
      .fixed &:before{
        background-color: #787878;
      }
    }
  }
  &.active a:before,
  a:hover:before{
    transform: scale3d(1, 1, 1);
  }
}
.nav-opener {
  &.active{
    background: #fff;
  }
  @include media('<=widescreen') {
    border: none;
    cursor: pointer;
    position: relative;
    z-index: $z-index-header;
    padding: 24px 47px 20px 48px;
    margin-top: 0;
  }
  @include media('<=desktop') {
    background: #fff;
    .fixed &{
      background: #fff;
    }
    .opened-nav & {
      border-bottom: 1px solid map-get($base, 'base-border');
    }
  }
  @include media('>widescreen') {
    display: none;
  }
}
.nav-opener__button{
  @include media('<=widescreen') {
    position: relative;
    display: block;
    background: transparent;
    color: #fff;
    overflow: hidden;
    pointer-events: none;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform .25s ease-in-out;
      background: currentColor;
    }
    .active > &{
      border-color: transparent;
      color: #444;
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
  @include media('<=widescreen', '>desktop') {
    .fixed &, .opened-nav & {
      color: #444;
    }
  }
  @include media('<=widescreen', '>phone') {
    @include size(50px, 32px);
    background: transparent;
    border-top: 4px solid;
    border-bottom: 4px solid;
    &:before,
    &:after{
      @include size(100%, 4px);
    }
  }
  @include media('<=desktop') {
    color: #444;
  }
  @include media('<=phone') {
    @include size(25px, 16px);
    border-top: 2px solid;
    border-bottom: 2px solid;
    &:before,
    &:after{
      @include size(100%, 2px);
    }
  }
}